/*
!.gitignore
!.config/
/.config/*
!.config/autostart/
/.config/autostart/*
!.config/autostart/gnome-keyring-ssh.desktop
!.config/git/
!.config/guix/
/.config/guix/*
!.config/guix/ariadne.scm
!.config/guix/channels.scm
!.config/guix/modules/

