/*
!.gitignore
!.config/
/.config/*
!.config/autostart/
/.config/autostart/*
!.config/autostart/gnome-keyring-ssh.desktop
!.config/guix/
/.config/guix/*
!.config/guix/ariadne.scm
!.config/guix/channels.scm
!.config/guix/modules/
!.config/nixos/
!.m2/
/.m2/*
!.m2/.keep
!flake.nix
!flake.lock

