jobs:
  update-flakes:
    runs-on: ubuntu-latest
    steps:
      - uses: easimon/maximize-build-space@v7
        with:
          overprovision-lvm: true
          remove-android: true
          remove-dotnet: true
          remove-haskell: true
          remove-codeql: true
          remove-docker-images: true

      - uses: actions/checkout@v3

      - uses: cachix/install-nix-action@v22
        with:
          extra_nix_config: access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Update flake.lock
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"
          nix flake update --commit-lock-file

      - name: Set default git branch (to reduce log spam)
        run: git config --global init.defaultBranch trunk

      - name: Build Home-Manager configs
        run: |-
          nix build '.#homeConfigurations.khoerr.activationPackage'
          nix build '.#homeConfigurations.kjhoerr.activationPackage'

      - name: Build NixOS configs
        run: |-
          nix build '.#nixosConfigurations.ariadne.config.system.build.toplevel'
          nix build '.#nixosConfigurations.cronos.config.system.build.toplevel'
          nix build '.#nixosConfigurations.whisker.config.system.build.toplevel'
          nix build '.#nixosConfigurations.nixos-wsl.config.system.build.toplevel'

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          body: |
            ## Run report
            https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
          branch: flake-updates
          delete-branch: true
          title: Update flake.lock

name: update
"on":
  schedule:
    - cron: 40 4 * * 0,2,4,6
  workflow_dispatch: null
